<robot name="mycar">
    <link name="base_link">
        <visual>
            <geometry>
                <!-- <box size="0.3 0.2 0.1" /> -->
                <!-- <cylinder radius="0.1" length="2" /> -->
                <!-- <sphere radius="1" /> -->
                <mesh filename="package://urdf01_rviz/meshes/autolabor_mini.stl" />
            </geometry>
            <origin xyz="0 0 0" rpy="1.57 0 1.57" />
            <material name="car_color" >
                <color rgba="0.7 0.5 0 0.5" />
            </material>
        </visual>
    </link>
</robot>